<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Panch Kedar || Uttarakhand Tourism</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
     <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="style2.css">
    <script>
      function handleSearch(event) {
          event.preventDefault(); 
          const query = document.querySelector('input[type="search"]').value.toLowerCase();
          
          const searchMap = {
              'rishikesh': '/rishikesh',
              'nainital': '/nainital',
              'corbett': '/corbett',
              'panch kedar': '/panch-kedar',
              'panch badri': '/panch-badri',
              'panch prayag': '/panch-prayag',
              'hemkund sahib': '/hemkund-sahib',
              'dehradun': '/dehradun',
          };
          
          if (searchMap[query]) {
              window.location.href = searchMap[query];
          } else {
              alert('Page not found for: ' + query);
          }
      }
  </script>
</head>
<body>
    <header>
      <nav class="navbar navbar-expand-lg navbar-light .bg-danger.bg-gradient custom-navbar">
        <div class="container-fluid">
              <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                  <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/home">HOME</a>
                  </li>
                  <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown1" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      EXPLORE
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown1">
                      <li><a class="dropdown-item" href="#"><h5>Spiritual</h5></a></li>
                      <li><a class="dropdown-item" href="/panch-kedar">Panch Kedar</a></li>
                      <li><a class="dropdown-item" href="/panch-badri">Panch Badri</a></li>
                      <li><a class="dropdown-item" href="/panch-parayag">Panch Parayag</a></li>
                      <li><a class="dropdown-item" href="/hemkund-sahib">Hemkund Sahib</a></li>
                      <li><a class="dropdown-item" href="/rishikesh">Rishikesh</a></li>
                      <li><a class="dropdown-item" href="/nainital">Nainital</a></li>
                      <li><a class="dropdown-item" href="/corbet">Jim Corbet </a></li>
                      <li><a class="dropdown-item" href="#">Dhari Devi Temple</a></li>
                    </ul>
                  </li>
                  <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown2" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      PLAN
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown2">
                      <li><a class="dropdown-item" href="/accommodations"> Accommodations</a></li>
                      <li><a class="dropdown-item" href="/itineraries">Itineraries</a></li>
                      <li><a class="dropdown-item" href="/treks">Treks</a></li>
                      <li><a class="dropdown-item" href="/tourism-cir">Tourism Circuits </a></li>
                      <li><a class="dropdown-item" href="#">Tourist Guide</a></li>
                      <li><a class="dropdown-item" href="#">Travel Agents</a></li>
                    </ul>
                  </li>
                  <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown3" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      TRADE
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown3">
                      <li><a class="dropdown-item" href="/homestay">Homestay Listing</a></li>
                      <li><a class="dropdown-item" href="/travle">Travel Trade Listing</a></li>
                      <li><a class="dropdown-item" href="/homestay-registration">Homestay Listing Registarion</a></li>
                      <li><a class="dropdown-item" href="/travel-trade">Travel Trade Listing</a></li>
                      <li><a class="dropdown-item" href="#">Invest In Uttarakhand Tourism</a></li>
                    </ul>
                  </li>
                  <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown4" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      FAQ
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown4">
                      <li><a class="dropdown-item" href="/destination-faq">Destination FAQ</a></li>
                      <li><a class="dropdown-item" href="/adventure">Adventure Tourism FAQ</a></li>
                      <li><a class="dropdown-item" href="/homestay-faq">Home Stay FAQ</a></li>
                      <li><a class="dropdown-item" href="/places">Places of Interest</a></li>
                      <li><a class="dropdown-item" href="/religious">Religious Tourism FAQ</a></li>
                      <li><a class="dropdown-item" href="/travel-faq">Travel Trade FAQ</a></li>
                      <li><a class="dropdown-item" href="/treks">Trekking FAQ</a></li>
                    </ul>
                  </li>
                </ul>
                <form class="d-flex ml-auto" onsubmit="handleSearch(event)">
                  <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                  <button class="btn btn-outline-success btn-red" type="submit">Search</button>
              </form>
              </div>
            </div>
          </nav>
    </header>

    <!-- Your content goes here -->

    <div id="carouselExampleCaptions" class="carousel slide" data-ride="carousel">
        <div class="carousel-indicators">
          <button type="button" data-target="#carouselExampleCaptions" data-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
          <button type="button" data-target="#carouselExampleCaptions" data-slide-to="1" aria-label="Slide 2"></button>
          <button type="button" data-target="#carouselExampleCaptions" data-slide-to="2" aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img src="https://static.wanderon.in/wp-content/uploads/2023/11/top-min-1.jpg" class="d-block w-100" alt="First slide">
            <div class="carousel-caption d-none d-md-block">
              <h5>ENJOY THE BEAUTY OF UTTRAKHAND</h5>
              <p>There is a kind of magicness about going far away and then coming back all changed.</p>
            </div>
          </div>
          <div class="carousel-item">
            <img src="https://i.pinimg.com/736x/6b/2d/e8/6b2de867920cfc93af39349edc2804ac.jpg" class="d-block w-100"  alt="Second slide">
            <div class="carousel-caption d-none d-md-block">
              <h5>ENJOY THE BEAUTY OF UTTRAKHAND</h5>
              <p>There is a kind of magicness about going far away and then coming back all changed.</p>
            </div>
          </div>
          <div class="carousel-item">
            <img src="https://static2.tripoto.com/media/filter/tst/img/48706/TripDocument/img_8332.jpg" class="d-block w-100" alt="Third slide">
            <div class="carousel-caption d-none d-md-block">
              <h5>ENJOY THE BEAUTY OF UTTRAKHAND</h5>
              <p>There is a kind of magicness about going far away and then coming back all changed.</p>
            </div>
          </div>
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          </button>
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
          </button>
        </div>
      </div>

      <div class="container mt-5">
        <h2 class="custom-title">PANCH KEDAR</h2>
        <p class="custom-paragraph">
            Strewn across the state of Uttarakhand are numerous temples dedicated to several deities of the Hindu pantheon. Located in the Garhwal region of the state are five such revered shrines where Lord Shiva is worshipped. Collectively known as Panch Kedar (panch in Hindi means five), these temples are Kedarnath, Madhmaheshwar, Tungnath, Rudranath, Kalpnath.According to mythology, there are several renditions behind the formations of these five sites. As per popular belief, during one of the ages described in the ancient Hindu scriptures, the Pandava princes (characters from the Hindu epic Mahabharata) were advised to worship Lord Shiva in Uttarakhand as penance for the bloodshed caused in the war as mentioned in the epic Mahabharata. The legend goes that Lord Shiva was hiding from the Pandavas by taking the form of a buffalo but was identified by Bhima, one of the five Pandava brothers. On being recognised, the deity disappeared and manifested himself in five different locations in the Himalayas. It is said the each of these sites is dedicated to a part of the Lord - Kedarnath (the hump of Lord Shiva), Madhmaheshwar (His belly button), Tungnath (His arms), Rudranath (His face), Kalpeshwar (His jata or hair)
        </p>
    </div>

    <div>
         <h1 class="explore-more">EXPLORE MORE</h1>
    </div>
    <div class="image-container">
        <img src="https://wallpapers.com/images/high/kedarnath-lord-shiva-silhouette-4k-v6rkq4p0bq8m9810.webp" alt="">
        <img src="https://i.pinimg.com/originals/d4/40/8e/d4408e3a3fb3d31774c43716a1ae287a.jpg" alt="">
        <img src="https://voyagingmonk.com/assets/images/packages/chandrashila_2.jpg" alt="">
        <img src="https://majesticjourney.in/wp-content/uploads/2022/07/madmaheshwar-temple.jpg" alt="">
        <img src="https://i0.wp.com/puja-online.com/wp-content/uploads/2024/03/img-21.jpg?fit=1280%2C960&ssl=1" alt="">
    </div>

    <!----footer--->

    <div class="footer">
      <ul>
          <li><h4> About UTDB</h4></li>
          <li><a href="/about">About Us</a></li>
          <li><a href="/awards">Awards & Honours</a></li>
          <li><a href="/message">CEO’s Message</a></li>
          <li><a href="/contact">Contact Us</a></li>
          <li><a href="">ttarakhand Tourist Map</a></li>
      </ul>
      <ul>
          <li><h4>Departmental Info</h4></li>
          <li><a href="">Citizen Charter</a></li>
          <li><a href=""> Annual Transfer</a></li>
          <li><a href="">Important Links</a></li>
          <li><a href="">Policy and Guidelines</a></li>
          <li><a href="">  RTI</a></li>
          <li><a href="">Right to Service</a></li>
          <li><a href=""> Tenders/EOI</a></li>
          <li><a href=""></a> Vacancies</li>
      </ul>
      <ul>
          <li><h4> Trade</h4></li>
          <li><a href="">Invest In Uttarakhand Tourism</a></li>
          <li><a href="">Apply for Veer Chandra Singh Garhwali & Pt. Deen Dayal Homestay Scheme
          </a></li>
          <li><a href="">CBSP Training Prog. - Empanelment of Institute
          </a></li>
          <li><a href="">Upload Advertisement of Hunar Se Rozgar Tak (HSRT)
          </a></li>
          <li><a href="">Transfer List
          </a></li>
          <li><a href="">Travel Mart 2024 - 2025
          </a></li>
          <li><a href="">Women's empowerment River Rafting Training
          </a></li>
          <li><a href="">Tourist Destination Guide Training Program - 2024
          </a></li>
          <li><a href="">Tourism Policy 2024
          </a></li>
      </ul>
  </div>
<div class="image-tourism">
  <img src="https://uttarakhandtourism.gov.in/themes/utdb_frontend/images/KMVN-Logo.png" alt="">
<img src="https://uttarakhandtourism.gov.in/themes/utdb_frontend/images/GMVN-Logo.png" alt="">
<img src="https://uttarakhandtourism.gov.in/themes/utdb_frontend/images/Ministry_of_Tourism_India.png" alt="">
</div>
</div>
<div>
  <ul class="social-icons">
      <li><a href="https://www.facebook.com" target="https://www.facebook.com/people/Neeraj-Rajput/pfbid034aZAGJVz9x5b8FVQ6ng5pWiGfGx9yr4CCSgSLp3w5NXsUwHV12JzRkiCJdrM49kZl/?mibextid=ZbWKwL"><i class="fab fa-facebook-f"></i></a></li>
      <li><a href="https://www.instagram.com" target="https://www.instagram.com/neerajrajput8624/?igsh=MWpocTc3c2V5YW9waA%3D%3D"><i class="fab fa-instagram"></i></a></li>
      <li><a href="https://www.linkedin.com" target="https://www.linkedin.com/in/neeraj-singh-664631297?utm_source=share&utm_campaign=share_via&utm_content=profile&utm_medium=android_app "><i class="fab fa-linkedin-in"></i></a></li>
      <li><a href="https://www.twitter.com" target="https://www.instagram.com/neerajrajput8624?igsh=MWpocTc3c2V5YW9waA== "><i class="fab fa-twitter"></i></a></li>
  </ul>
</div>
<div class="copyright">
  <p>For any general queries or details, please mail us at neerajsingh342002@gmail.com or call 8826632772, 7617747175</p>
  <p>Copyright © 2024 Uttarakhand Tourism Development Board. - All rights reserved. </p>
</div>
<script src="script.js"></script>
</body>
</html>