<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Thank You</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div class="container">
       
        <h1>Thank You!</h1>
        <div class="social">
            <h2>Your Registration has been successfully</h2>
            <p>Follow us on our social media platforms to stay updated.</p>
            <!-- Add your social media links here -->
            <a href="https://facebook.com" target="https://www.facebook.com/profile.php?id=100040606311607&mibextid=ZbWKwL">Facebook</a>
            <a href="https://linkedin.com" target="https://www.linkedin.com/in/neeraj-singh-664631297?utm_source=share&utm_campaign=share_via&utm_content=profile&utm_medium=android_app ">linkedin</a>
            <a href="https://instagram.com" target="https://www.instagram.com/neerajrajput8624?igsh=MWpocTc3c2V5YW9waA== ">Instagram</a>
        </div>
        <div class="website">
            <h2>Visit Our Website</h2>
            <p>Explore more about us and our services.</p>
            <a href="https://yourwebsite.com" target="_blank" class="btn">Visit Now</a>
        </div>
    </div>
</body>
</html>
